@use "./_variables.scss" as *;

.logo-bar {
  background: $header-color !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 1051;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
}

.navbar-bg-logo {
  background: rgba(255, 214, 153, 0.85) !important;
  min-height: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

.navbar-center {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin: 0;
}

.logo-img {
  max-height: 48px;
}

.menu-btn {
  min-width: 110px;
  padding: 6px 16px !important;
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: bold !important;
  gap: 6px;
  margin: 0 4px !important;
}

.bt-add-ad {
  background-color: #ddbf3c !important;
  color: crimson !important;
}

.menu-icon-btn {
  padding: 0 !important;
  border: none !important;
  background: none !important;
  margin-right: 8px !important;
  margin-bottom: 0 !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.menu-icon-btn img {
  margin-right: 8px;
}

.menu-icon-btn:last-child img {
  margin-right: 0;
}

.menu-user-photo {
  border-radius: 50%;
  border: 2px solid #ccc;
  object-fit: cover;
}

.home-btn {
  min-width: 140px;
  padding: 10px 24px !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  line-height: 0.75 !important;
  color: #0d6efd !important;
  background-color: transparent !important; // transparent background
  border: 2px solid #0d6efd !important;
  border-radius: 0.5rem !important;
  text-align: center;
  text-decoration: none !important;
  transition:
    color 0.15s,
    background-color 0.15s,
    border-color 0.15s;

  &:hover,
  &:focus {
    color: #fff !important;
    background-color: #c3bf5e !important;
    border-color: #0d6efd !important;
    text-decoration: none !important;
  }
}

.home-btn:hover,
.home-btn:focus {
  color: #fff !important;
  background-color: rgba(246, 179, 80, 0.85) !important;
  border-color: #0d6efd !important;
  text-decoration: none !important;
}

@media (max-width: 991.98px) {
  .navbar-toggle-custom {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1052;
  }
  .navbar-center {
    position: relative;
    width: 100%;
    justify-content: flex-start;
  }
  .logo-img {
    max-height: 36px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-collapse.d-lg-none {
    display: none !important;
  }
}
