.notification {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  min-width: 320px;
  max-width: 420px;
  width: 80vw;
  min-height: 70px;
  padding: 32px 24px;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 16px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.notification.error {
  background-color: #ffe0e0;
  color: #ff0000;
  border-color: #ff0000;
  font-weight: bold;
}

.notification.warning {
  background-color: #fffacd;
  color: #b17300;
  border-color: #dba967;
}

.notification.success {
  background-color: #e0ffe0;
  color: #008000;
  border-color: #008000;
}
