@use "./_variables.scss" as *;

.logo-bar {
  background: $header-color !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 1051;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  // border-bottom: 1px solid #eee;
}

// .navbar {
//   background: $header-color !important;
// }

nav.navbar.navbar-bg-logo {
  background: rgba(255, 214, 153, 0.6) !important;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px auto;
  min-height: 140px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-img {
  max-height: 48px;
}

.menu-btn {
  width: 115px; //!important;
  // height: 24px !important;
  padding: 0 !important;
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 5px !important;
  margin-left: 5px !important;
  margin-top: 5px !important;
  // padding-top: 8px !important;
  // padding-bottom: 8px !important;
  // padding-left: 15px !important;
  font-weight: bold !important;
}

.bt-add-ad {
  background-color: #ddbf3c !important;
  color: crimson !important;
}
