.notification.error {
  background-color: #ffe0e0;
  color: #ff0000;
  border-color: #ff0000;
  font-weight: bold;
}

.notification.warning {
  background-color: #fffacd;
  color: #b17300;
  border-color: #dba967;
}

.notification.success {
  background-color: #e0ffe0;
  color: #008000;
  border-color: #008000;
}
